%script{ type: "text/ng-template", id: "editWpCount.haml" }
  %form{ role: "form", "name": "modal.form", "data-method": "modal.method" }
    .modal-header
      %h4{ "ng-show": "modal.method == 'POST'" } Добавить отдел
      %h4{ "ng-show": "modal.method == 'PATCH'" } Редактировать отдел

    .modal-body
      .form-group.required{ "ng-class": "modal.errorClass('workplace_count[division]')" }
        = label_tag :workplace_count_division, class: "control-label" do
          %abbr{ title: "Обязательное поле" } *
          %b Отдел
        = text_field_tag "workplace_count[division]", "{{ modal.data.division }}", class: "form-control", "ng-model": |
        "modal.data.division" |
        -#
        %span.help-block{ "ng-show": "modal.form['workplace_count[division]'].$invalid", "ng-bind": "modal |
            .errorMessage('workplace_count[division]')" } |

      .form-group.required{ "ng-class": "modal.errorClass('workplace_count[time_start]')" }
        = label_tag :workplace_count_time_start, class: "control-label" do
          %abbr{ title: "Обязательное поле" } *
          %b Дата начала ввода данных
        = text_field_tag "workplace_count[time_start]", "{{ modal.data.time_start }}", class: "form-control", |
         "ng-model": "modal.data.time_start", "uib-datepicker-popup": "{{ modal.time_start.format }}", |
         "ng-model-options": "{ timezone: 'utc' }", "ng-focus": "modal.openDatePicker('time_start')", |
         "datepicker-options": "modal.dateOptions", "is-open": "modal.time_start.openDatePicker", "popup-placement": |
         "bottom-left", "show-button-bar": false |
        -#
        %span.help-block{ "ng-show": "modal.form['workplace_count[time_start]'].$invalid", "ng-bind": "modal |
            .errorMessage('workplace_count[time_start]')" } |

      .form-group.required{ "ng-class": "modal.errorClass('workplace_count[time_end]')" }
        = label_tag :workplace_count_time_end, class: "control-label" do
          %abbr{ title: "Обязательное поле" } *
          %b Дата окончания ввода данных
        = text_field_tag "workplace_count[time_end]", "{{ modal.data.time_end }}", class: "form-control", "ng-model": |
        "modal.data.time_end", "uib-datepicker-popup": "{{ modal.time_end.format }}", "ng-model-options": |
        "{ timezone: 'utc' }", "ng-focus": "modal.openDatePicker('time_end')", "datepicker-options": |
        "modal.dateOptions", "is-open": "modal.time_end.openDatePicker", "popup-placement": "bottom-left", |
        "show-button-bar": false |
        -#
        %span.help-block{ "ng-show": "modal.form['workplace_count[time_end]'].$invalid", "ng-bind": "modal |
            .errorMessage('workplace_count[time_end]')" } |

      %h4
        Список ответственных
        = fa_icon "plus-circle", class: "pointer", "tooltip-placement": "top", "uib-tooltip": "Добавить |
        ответственного", "ng-click": "modal.addResponsible()" |

      %table.internal-table
        %thead
          %tr
            %td.col-sm-16.col-md-16.col-lg-5
              = label_tag "workplace_count_workplace_responsibles.tn", class: "control-label" do
                %abbr{ title: "Обязательное поле" } *
                %b Таб. номер
            %td.col-lg-13
              %b ФИО
            %td.col-sm-8.col-md-8.col-lg-6
              = label_tag :workplace_count_phone, class: "control-label" do
                %b Телефон
        %tbody.animate-repeat.animate-show{ "ng-repeat": "resp in modal.data.users_attributes", "ng-hide": |
        "resp._destroy" } |
          %tr
            %td.col-sm-16.col-md-16.col-lg-5
              .form-group.required
                = text_field_tag "workplace_count[users.tn]", "{{ resp.tn }}", class: "form-control", "ng-model": |
                "resp.tn" |
            %td.col-lg-13
              = text_field_tag "workplace_count[users.fullname]", "{{ resp.fullname }}", class: "form-control", |
              "ng-model": "resp.fullname", disabled: true |
            %td.col-sm-8.col-md-8.col-lg-6
              .col-sm-20.col-md-20.col-lg-20
                -#.no-left-padding.no-right-padding
                .form-group
                  = text_field_tag "workplace_count[users.phone]", "{{ resp.phone }}", class: "form-control", |
                  "ng-model": "resp.phone" |
              .col-sm-4.col-md-4.col-lg-4.no-right-padding
                = fa_icon "minus-circle lg", class: "pointer", "tooltip-placement": "left", "uib-tooltip": "Удалить |
                ответственного", "ng-click": "modal.delResponsible(resp)" |
          %tr.empty.animate-show{ "ng-show": "!resp.$last" }

    .modal-footer
      = button_tag "Готово", class: "btn btn-success", "ng-click": "modal.ok()"
      = button_tag "Закрыть", "ng-click": "modal.cancel()"