%script{ type: "text/ng-template", id: "editCountWp.haml" }
  %form{ role: "form", "name": "modal.form", "data-method": "modal.method" }
    .modal-header
      %h4 Добавить отдел

    .modal-body
      .form-group.required{ "ng-class": "modal.errorClass('count_workplace[division]')" }
        = label_tag :count_workplace_division, class: "control-label" do
          %abbr{ title: "Обязательное поле" } *
          %b Отдел
        = text_field_tag "count_workplace[division]", "", class: "form-control", "ng-model": "modal.data.division"
        %span.help-block{ "ng-show": "modal.form['count_workplace[division]'].$invalid", "ng-bind": "modal |
            .errorMessage('count_workplace[division]')" } |

      .form-group.required{ "ng-class": "modal.errorClass('count_workplace[count_wp]')" }
        = label_tag :count_workplace_count_wp, class: "control-label" do
          %abbr{ title: "Обязательное поле" } *
          %b Количество рабочих мест
        = text_field_tag "count_workplace[count_wp]", "", class: "form-control", "ng-model": "modal.data.count_wp"
        %span.help-block{ "ng-show": "modal.form['count_workplace[count_wp]'].$invalid", "ng-bind": "modal |
            .errorMessage('count_workplace[count_wp]')" } |

      .form-group.required{ "ng-class": "modal.errorClass('count_workplace[tn]')" }
        = label_tag :count_workplace_tn, class: "control-label" do
          %abbr{ title: "Обязательное поле" } *
          %b Табельный номер ответственного
        = text_field_tag "count_workplace[tn]", "", class: "form-control", "ng-model": "modal.data.tn"
        %span.help-block{ "ng-show": "modal.form['count_workplace[tn]'].$invalid", "ng-bind": "modal |
            .errorMessage('count_workplace[tn]')" } |

      .form-group.required{ "ng-class": "modal.errorClass('count_workplace[phone]')" }
        = label_tag :count_workplace_phone, class: "control-label" do
          %b Телефон
        = text_field_tag "count_workplace[phone]", "", class: "form-control", "ng-model": "modal.data.phone"
        %span.help-block{ "ng-show": "modal.form['count_workplace[phone]'].$invalid", "ng-bind": "modal |
            .errorMessage('count_workplace[phone]')" } |

      .form-group.required{ "ng-class": "modal.errorClass('count_workplace[time_start]')" }
        = label_tag :count_workplace_time_start, class: "control-label" do
          %abbr{ title: "Обязательное поле" } *
          %b Дата начала ввода данных
        = text_field_tag "count_workplace[time_start]", "", class: "form-control", "ng-model": "modal.data |
        .time_start", "uib-datepicker-popup": "{{ modal.time_start.format }}", "ng-model-options": "{ timezone: 'utc' |
         }", "ng-focus": "modal.openDatePicker('time_start')", "datepicker-options": "modal.dateOptions", "is-open": |
         "modal.time_start.openDatePicker", "popup-placement": "bottom-left", "show-button-bar": false |
        -#
        %span.help-block{ "ng-show": "modal.form['count_workplace[time_start]'].$invalid", "ng-bind": "modal |
            .errorMessage('count_workplace[time_start]')" } |

      .form-group.required{ "ng-class": "modal.errorClass('count_workplace[time_end]')" }
        = label_tag :count_workplace_time_end, class: "control-label" do
          %abbr{ title: "Обязательное поле" } *
          %b Дата окончания ввода данных
        = text_field_tag "count_workplace[time_end]", "", class: "form-control", "ng-model": "modal.data.time_end", |
        "uib-datepicker-popup": "{{ modal.time_end.format }}", "ng-model-options": "{ timezone: 'utc' }", "ng-focus": |
        "modal.openDatePicker('time_end')", "datepicker-options": "modal.dateOptions", "is-open": "modal.time_end |
        .openDatePicker", "popup-placement": "bottom-left", "show-button-bar": false |
        -#
        %span.help-block{ "ng-show": "modal.form['count_workplace[time_end]'].$invalid", "ng-bind": "modal |
            .errorMessage('count_workplace[time_end]')" } |

    .modal-footer
      = button_tag "Готово", class: "btn btn-success", "ng-click": "modal.ok()"
      = button_tag "Закрыть", "ng-click": "modal.cancel()"